.show-reviews {
    font-family: sans-serif;
    width: 80%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    aside, section {
        padding: 5px;
        border: 1px solid #000000
    }
    aside {
        width: 30%
    }
    section {
        width: 65%
    }
}

.avatar-img-box {
    height: 30px;
    display: flex;
    align-items: center;
    img {
        max-height: 100%;
    }
}

.review-title {
    height: 20px;
    display: flex;
    align-items: flex-end;
    img {
        max-height: 100%;
    }
}

.temp {
    width: 95px;
    height: 18px;
    background-image: image-url('stars-set.png');
    background-size: 120px;
}

.num-5 { background-position: -15px -8px; }
.num-4 { background-position: -15px -25px; }
.num-3 { background-position: -15px -42px; }
.num-2 { background-position: -15px -60px; }
.num-1 { background-position: -15px -77px; }

.score-box {
    margin-top: 5px;
    width: 130px;
    height: 20px;
    background-image: image-url("stars-set-2");
    background-size: 300px;
}

.avg-5 { background-position: -19px -14px; }
.avg-4-5 { background-position: -159px -14px; }
.avg-4 { background-position: -19px -39px; }
.avg-3-5 { background-position: -159px -39px; }
.avg-3 { background-position: -19px -63px; }
.avg-2-5 { background-position: -159px -63px; }
.avg-2 { background-position: -19px -87px; }
.avg-1-5 { background-position: -159px -87px; }
.avg-1 { background-position: -19px -111px; }
.avg-0 { background-position: -19px -135px; }