.cart-blank{
    min-height: calc(100vh - 250px);
}

.cart-page {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    font-family: sans-serif;
    min-height: calc(100vh - 290px);
}

.cart-index {
    width: 75%;
    margin-right: 25px;
    background-color: white;
    padding: 20px;
}

.checkout-box {
    width: 20%;
    background-color: white;
    height: 100px;
    padding: 20px 10px;
    h3 {
        font-size: 17px;
        margin-bottom: 5px;
    }
    span {
        font-weight: bold;
        margin-left: 5px;
    }
    label {
        font-size: 14px;
    }
}

.checkout-box button {
        border: 1px solid #fcdc50;
        border-radius: 6px;
        width: 100%;
        height: 27px;
        background-color: #fcdc50;
        margin-top: 20px;
        &:hover {
            background-color: #e6c535;
            cursor: pointer;
        }
        &:active {
            background-color: #fcdc50;
        }
}

.cart-item {
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-img-box {
    width: 25%;
    position: relative;
    img {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
    }
}

.cart-item-details {
    width: 50%;
    h2 {
        font-size: 18px;
    }
    span {
        color: green;
        font-size: 14px;
    }
    select {
        background-color: whitesmoke;
        border: 1px solid #ddd;
        border-radius: 7px;
        padding: 5px;
        margin-right: 10px;
        font-size: 15px;
        &:hover {
            cursor: pointer;
        }
    }
}

span.delete-link {
    color: #007eb9;
    &:hover {
        cursor: pointer;
    }
}

.cart-item-price {
    width: 20%;
    display: flex;
    justify-content: end;
    span{
        font-weight: bold;
        font-size: 17px;
    }
    
}

.cart-index-title {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    h2 {
        font-size: 30px;
    };
    p {
        text-align: end;
        font-size: 17px;
    }
}

.cart-index-sub {
    text-align: end;
    padding-top: 10px;
    font-size: 20px;
    span {
        font-weight: bold;
        margin-left: 5px;
    }
}

