.cart-page {
    display: flex;
    padding: 20px;
}

.cart-index {
    width: 75%;
    height: 1000px;
    margin-right: 25px;
    background-color: white;
}

.checkout-box {
    width: 20%;
    height: 1000px;
    background-color: white;
}

