.search-field {
    width: 100%;
    position: relative;
}

.dropdown {
    position: absolute;
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    width: 100%;
    z-index: 2;
}

.hidden {
    display: none;
}

.dropdown-item {
    padding: 10px;
    font-family: sans-serif;
    &:hover{
        background-color: #ddd;
        cursor: pointer;
    }
}