.footer {
    color: whitesmoke;
    font-family: sans-serif;
}

.back-to-top {
    width: 100%;
    height: 50px;
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top:hover {
    background-color: #485666;
}

.footer-links {
    width: 100%;
    height: 100px;
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links > img {
    height: 30px;
}