

header {
    background-color: #121717;
    color: whitesmoke;
}

.header-logo img, .cart-image{
    height: 30px;
}

.header-logo, .login-button, .cart-button {
    border: 1px solid transparent;
    padding: 10px;
}

.nav-bar {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories ul {
    height: 35px;
    background-color: #232f3e;
    display: flex;
    align-content: center;
    justify-content: space-around;
    font-family: sans-serif;
}

.categories ul li {
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 2px 0;
}

.categories ul li:hover, 
.login-button:hover, 
.header-logo:hover, 
.cart-button:hover {
    border: whitesmoke 1px solid;
    cursor: pointer;
}

.login-button-link {
    text-decoration: none;
    color: whitesmoke;
}

.login-button span {
    font-weight: bold;
}