.nav-bar {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    width: 200px;
    height: 50px;
}

.login-button {
    border: 1px solid black;
}

.categories ul{
    display: flex;
}