

header {
    background-color: #121717;
    color: whitesmoke;
}

.header-logo {
    height: 50px;
}

.cart-image {
    height:  35px;
}

.nav-bar {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: 200px;
}

.login-button {
    border: 1px solid black;
}

.categories ul {
    height: 30px;
    background-color: #232f3e;
    border: black 2px solid;
    display: flex;
    justify-content: space-around;
}

.categories ul li {
    padding: 5px;
}

.categories ul li:hover {
    border: whitesmoke 1px solid;
    cursor: pointer;
}