.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    border: 1px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}