.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 0;
}

.form-box {
    border: 1px solid rgb(57, 57, 57);
    border-radius: 5px;
    width: 300px;
    padding: 20px 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.form-box input {
    width: 100%;
}