.splash-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.splash-tabs div {
    border: black 1px solid;
    background-color: whitesmoke;
    margin: 10px;
    width: 20%;
    height: 100px;
}