.splash-tabs {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(130, 171, 222), whitesmoke);
}

.splash-tabs div {
    background-color: white;
    margin: 10px;
    width: 20%;
    height: 400px;
}